 <html class="hb-loaded"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>搜索‘<?php echo input( 'ks');?>’相关的网站 - 手机版</title>
  		<meta name="keywords" content="{:config('web.WEB_KEY')}">
		<meta name="description" content="{:config('web.WEB_DES')}">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        {include file="index/header"}
    </head>
    <body huaban_collector_injected="true">
<header class="hui-header">
        <a>
            <div id="hui-back" onclick="javascript:history.back(-1)"></div>
        </a>
        <h1>搜索<span style="color: #f3ed05;">‘ <?php echo input( 'ks');?> ’</span></h1>
        <a href="/"><div id="hui-header-menu"></div></a>
    </header>
 
<div style="margin-top:50px;" class="aui-grids-box">
	{volist name="tptc" id="vo"} 
	<a style="margin-top:10px;" href="{if condition="config('web.WEB_URL') eq 1"}__ROOT__/daohang/{$vo.id}.html{else/}__INDEX__/daohang/{$vo.id}.html{/if}"
	target="_blank" class="aui-grids-item">
		<div class="aui-grids-item-hd">
			<img src="{if condition=" $vo[ 'ico'] neq ''
			"}{$vo.ico}{else/}http://{$vo.lianjie}/favicon.ico{/if}" alt="">
		</div>
		<div class="aui-grids-item-bd">
			{$vo.title}
		</div>
	</a>
	{/volist}
</div>
   <div class="pages">
{$tptc->render()}
 </div>  
 
              