 <html class="hb-loaded"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>排行榜 - {:config('web.WEB_TIT')} - 手机版</title>
  		<meta name="keywords" content="{:config('web.WEB_KEY')}">
		<meta name="description" content="{:config('web.WEB_DES')}">
        <meta content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black" name="apple-mobile-web-app-status-bar-style">
        <meta content="telephone=no" name="format-detection">
        {include file="index/header"}
    </head>
    <body huaban_collector_injected="true">
        <section class="aui-flexView">
            <section class="aui-scrollView">
<header class="hui-header">
        <a>
            <div id="hui-back" onclick="javascript:history.back(-1)"></div>
        </a>
        <h1>排行榜</h1>
        <a href="/"><div id="hui-header-menu"></div></a>
    </header>   
      
 
      
 
<div class="page-group" style="margin-top:50px;">
    
        <div class="page">
 
            <div class="content">
 
 <ul class="nav clearfix">
					<li style="width: 50%;"{if condition="$type eq 'today'" }class="hover"{/if}> <a href="{if condition="config('web.WEB_URL') eq 1"}__ROOT__/top.html?type=today{else/}__INDEX__/top.html?type=today{/if}">实时当天</a> </li>
					<li style="width: 50%;" {if condition="$type eq 'art'" }class="hover"{/if}> <a href="{if condition="config('web.WEB_URL') eq 1"}__ROOT__/top.html?type=art{else/}__INDEX__/top.html?type=art{/if}">总榜巅峰</a> </li>
            	</ul>
                <ul class="lists">
 
                   {volist name="tops" id="vo" length="20"}
					                	
                  <li class="clearfix">
                		<a href="{if condition="config('web.WEB_URL') eq 1"}__ROOT__/daohang/{$vo.id}.html{else/}__INDEX__/daohang/{$vo.id}.html{/if}">
														
                          <i></i>
							                			
                          <img src="{if condition="$vo['ico'] neq ''"}{$vo.ico}{else/}/favicon.ico{/if}" class="ico" />
							 [{$vo.title}]	             		
                    </a>
                		<em>{if condition="$type eq 'art'" }{$vo.view}{/if}{if condition="$type eq 'today'" }{$vo.count}{/if}</em>
                	</li>
					  {/volist}	               
              </ul>

 
</div>
</div>
 
  
  </div>
 {include file="index/footer"}